body {
	background-color: white;
	color: royalblue;
}


/************************
NAVIGATION
************************/

nav {

}


/************************
MAIN.HTML
************************/

.header-main-img {
	width: 100%;
	height: 300px;
}

.top-cards {
	margin-left: 15%;
	margin-top: 2%;
	width: 1500px;
}

.top-cards img {
 height: 300px;
}




/************************
WRITESTORY.HTML
************************/

/*#fileInput*/

#upload-placeholder-img {
	width: 100%;
	height: auto;
}

/************************
FORMS
************************/


textarea {
  resize: none;
}









/************************
FOOTER
************************/







/*****************************
DECOR LINES
*****************************/

.border-top {
	border-top: 3px solid grey;
}
