body {
	background-color: white;
	color: royalblue;
}


/************************
NAVIGATION
************************/

nav {

}




/************************
FORMS
************************/


textarea {
  resize: none;
}









/************************
FOOTER
************************/







/*****************************
DECOR LINES
*****************************/

.border-top {
	border-top: 3px solid grey;
}
