
<!-- __NAV BAR____________________ -->
<div class="navbar-fixed">
	<nav>
	    <div class="nav-wrapper white">

	    	<a href="#" class="brand-logo black-text">Logo</a>

	     	<ul id="nav-mobile" class="right hide-on-med-and-down">

	    		<li><a href="/" class="black-text">Home</a></li>

	        	<li><a href="#/writestory" class="black-text">Write a Story</a></li>

	        	<li><a href="/#/mypage" class="black-text">My Story, TBDFTP</a></li>

	        	<li><a href="/#/myfavorites" class="black-text">My Favorites, TBDFTP</a></li>

	        	<li><a href="" class="black-text"> {{userInformation.firstName}}</a></li>

				<button data-target="modalLogin" class="waves-effect waves-light btn" ng-click="loginPopup()">login</button>

				<a class="waves-effect waves-light btn" ng-click="joinPopup()" href="#modalRegister">join</a>



	      	</ul>
	    </div>
	</nav>
</div>


  <!-- ___MODALS_______________________ -->

  <!-- login modal Structure -->
	<div id="modalLogin" class="modal">

	    <div class="modal-content">
	    	<h4>Login</h4>
	      	<input ng-model="loginUsername" type="text" name="userName" placeholder="User name">
	      	<input ng-model="loginPassword" type="password" name="password" placeholder="Password">
	    </div>

	  	<div class="modal-footer">
	      	<button ng-click="loginButton()" class=" modal-action modal-close waves-effect waves-green btn-flat"><a href="/#/mypage">Login</a></button>
	    </div>

	</div>

    <!-- register modal Structure -->
  <div id="modalRegister" class="modal">
    <div class="modal-content">
		<h4>Join the Society...</h4>

    	<div class="row">
		    <div class="col s6">
		      	<input ng-model="registerFirstName" type="text" name="firstName" placeholder="First Name">
		    </div>
		    <div class="col s6">
		      	<input ng-model="registerLastName" type="text" name="lastName" placeholder="Last Name">
		    </div>

		    	<input ng-model="registerEmail" type="email" name="email" placeholder="Email Address">


		    	<input ng-model="registerZipcode" type="zipcode" name="zipcode" placeholder="Zipcode">
		    	<br>
		    	<br>
		    	<br>
		   	<div class="col offset-s2 s8">
		     	<input ng-model="registerUsername" type="text" name="userName" placeholder="Pick a User Name">
		    </div>
				<br>
		   	<div class="col offset-s2 s8">
		     	<input ng-model="registerPassword" type="password" name="password" placeholder="Password">
		      	<input type="password" name="confirmPassword" placeholder="Confirm Password">
		    </div>



			    <div class="modal-footer">
			      <a ng-click="joinButton()" href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Join Us</a>
			    </div>
		    </div>

		</div>

    </div>
  </div>


  <!-- ___HEADER_________________________ -->

<!-- header image -->
<img src="https://s-media-cache-ak0.pinimg.com/originals/57/ec/5c/57ec5cbefbe797074b97ac1d9a201b58.jpg" class="header-main-img">

<!-- top stories -->
<div class="row top-cards">
	<div ng-repeat="story in storyList" class="col l3">
	 	<div class="card">
        	<div class="card-image">
          		<img ng-src="{{story.storyImage}}">
          			<span class="card-title">
						<a href="#">
          					<h5> {{story.storyName}}</h5>
          				</a>
          			</span>
        	</div>
    	</div>
	</div>
</div>



  <h5 class="society">Society...</h5>

      <div class="row bottom-cards">
       	<div ng-repeat="(key, location) in locationList" class="offset-s1 col l4">
            	<div class="card">

              	<div class="card-image">
                		<a href="/#/story/{{key}}">
                			<img ng-src="{{location.image}}">
                				<span class="card-title red-text">{{location.title}}</span>
                		</a>
              	</div>

              	<div class="card-content">
                		<p>{location from geomap}</p>

              	</div>

              	<div class="card-action">

                		<i ng-click="addFavorites(key, location.uid)" class="small material-icons cursor">add</i>

  					<i ng-click="deleteStory(key)" class="small material-icons cursor">delete</i>

              	</div>

            	</div>
        	</div>
      </div>












