
<!-- __NAV BAR____________________ -->
	<div class="navbar-fixed">
		<nav>
		    <div class="nav-wrapper white navigation-spacing">

	      		<ul id="nav-mobile" class="left hide-on-med-and-down">

	     			<li><img src="css/img/society-logo-1.png" class="navigation-logo img-logo"></li>

	        		<li><a href="/" class="black-text nav-center">Home</a></li>

	        		<li class="active"><a href="#/writestory" class="black-text nav-center">Write a Story</a></li>

	        		<li><a href="/#/mypage" class="black-text nav-center">My Stories</a></li>

	        		<li><a href="/#/myfavorites" class="black-text nav-center">My Favorites</a></li>
				</ul>

				<div id="nav-mobile" class="right hide-on-med-and-down">
					  <div class="chip">
					    <img src="/css/img/scott.png" alt="Contact Person">
					    {{userInformation.firstName}}
					  </div>

	       			<button class="waves-effect waves-light btn" ng-click="logoutButton()">logout</button>
	    		</div>
		    </div>
		</nav>
	</div>



<!-- displaying clicked story -->
<div>
	<h1 class="header-text">{{storyInfo.title}}</h1>

	<img src={{storyInfo.image}} class="img-center">

	<h4 class="text-center">Why Here?</h4>

	<p class="text-center">{{storyInfo.draw}}</p>

	<h5 class="text-center">Don't Forget to Pack:</h5>
		<p class="text-center">{{storyInfo.pack}}</p>

	<h5 class="text-center">Level:</h5>
		<p class="text-center">{{storyInfo.dropDownOne}}</p>
</div>


<!-- add to favorites button -->
<!-- 	<i ng-click="addFavorites(key)" class="small material-icons cursor">add</i> -->

