<!-- __NAV BAR____________________ -->
	<div class="navbar-fixed">
	  <nav>
	    <div class="nav-wrapper white">

	      <a href="#" class="brand-logo black-text">Logo</a>

	      <ul id="nav-mobile" class="right hide-on-med-and-down">

	        <li><a href="/" class="black-text">Home</a></li>
	        <li><a href="#/writestory" class="black-text">Write a Story</a></li>
	        <li><a href="/#/mypage" class="black-text">My Story</a></li>
	        	<li><a href="#/story" class="black-text">Clicked Story, TBR</a></li>

	        <button class="waves-effect waves-light btn" ng-click="logoutButton()">logout</button>

	      </ul>
	      </span>
	    </div>
	  </nav>
	</div>

<h3>ADD A NEW LOCATION</h3>

<p>(specific info about locations) Locations are detailed guides about a specific location, camping spot, or hike to guide Society members on their own photography adventure.</p>
<br>
<br>


<div class="row">


	<div class="offset-s2 col s5">

			<textarea ng-model="inputTitle" placeholder="TITLE">Title</textarea>
			<br>
			<br>
			<a class="waves-effect waves-light btn">Add a Location/Google Maps connection</a>

			<br>
			<br>
			<br>

			<img src="/css/img/header2.jpg" id="upload-placeholder-img">


			<input type="file" name="photo" id="fileInput">

			<br>
			<br>

			<div class="col s7">
			<textarea ng-model="theDraw" placeholder="The Draw">The Draw</textarea>
			<textarea ng-model="theDescription" placeholder="Description">Description</textarea>
			<textarea ng-model="thePackList" placeholder="Pack List">Pack List</textarea>
			</div>

<!-- drop downs -->
			<div class="offset-s1 col s4"> <!-- dropdown column -->
				<div class="input-field">
				      <select id="dropDownOne" name="dropDownOne" ng-model="data.dropDownOne">
					      <option value="" disabled selected >Select a Skill Level</option>
					      <option value="Beginner">Beginner</option>
					      <option value="Intermediate">Intermediate</option>
					      <option value="Intermediate">Expert</option>
					    </select>
					    <label>Skill Level</label>
				</div>

				<br>

				<div class="input-field">
				      <select id="dropDownOne" name="dropDownOne" ng-model="data.dropDownOne">
					      <option value="" disabled selected >Select a Skill Level</option>
					      <option value="option-one">Beginner</option>
					      <option value="option-two">Intermediate</option>
					      <option>Expert</option>
					    </select>
					    <label>Skill Level</label>
				</div>

			</div> <!-- end dropdown col -->



			 <button ng-click="buttonClick()" class="btn waves-effect waves-light" type="submit" name="action">Submit
		    	<i class="material-icons right"></i>
		  	</button>



	</div>


	<div class="offset-s1 col s2">
			<h5>this is a bolded guidline</h5>
			<p>additional informaiton about the guidline</p>
			<br>
			<h5>this is a bolded guidline</h5>
			<p>additional informaiton about the guidline</p>
			<br>
			<h5>this is a bolded guidline</h5>
			<p>additional informaiton about the guidline</p>

	</div> <!-- column end -->


</div> <!-- row end -->


